[submodule "weight"]
	path = weight
	url = git@github.com:Xu-Justin/DeepFaceDrawing-Weight.git
[submodule "datasets/sketch_simplification"]
	path = datasets/sketch_simplification
	url = git@github.com:Xu-Justin/sketch_simplification.git
